<html>
  <head>
	<meta charset="UTF-8"></meta>
	<style type="text/css">
		.item{
			border:solid 1px black;
		}
		.meta{
		
		}
		.title{
			font-weight:bold;
		}
	</style>
  </head>
  <body>
    <div class="meta">
      <div class="title">
        <a href="<%= meta.link %>">
          <%- meta.title %>
        </a>
      </div>
      <div class="description"><%- meta.description %></div>

    </div>
    <div class="container">
      <% items.forEach(function(item){ %>
        <div class="item">
          <div class="item-title">
              <%- item.title %>
          </div>
          <div class="item-content">
              <%- item['atom:content']['#'] %>
          </div>
      </div>
      <% }); %>
    </div>
  </body>

</html>
