<html>
  <head>
	<meta charset="UTF-8"></meta>
	<style type="text/css"></style>
	<link rel="stylesheet" href="/dark.css"></link>
  </head>
  <body>
    <div class="meta">
      <div class="title">
        <a href="<%= meta.link %>">
          <%- meta.title %>'s Feed on Mastodon
        </a>
      </div>
      <div class="description"><%- meta.description %></div>

    </div>
    <div class="container">
      <% items.forEach(function(item){ %>
        <div class="item">
          <div class="item-title"> <%- item.title %> </div>
		  <div class="author">
		    <a class="avatar" href="<%- item.author.uri %>">
				<img class="avatar" src="<%- item.author.avatar %>"/>
			</a>
			<div class="author-info">
				<a class="author-displayname" href="<%- item.author.uri %>"> <%= item.author.displayName %> </a>
				<div class="author-fullname"> <%= item.author.fullName %> </div>
			</div>
			</a>
		  </div>
          <div class="item-content">
            <%- item.content %>
          </div>
		  <% if (item.enclosures.length > 0){ %>
		    <div class="enclosures">
		    <% for (var i = 0; i < item.enclosures.length; i ++){ %>
			  <a class="enclosure" href="<%- item.enclosures[i] %>" >
			  	<img src="<%- item.enclosures[i] %>"/>
			  </a>
		    <% } %>
			</div>
		  <% } %>
		  <div class="date"><%- item.stringDate %></div>
      </div>
      <% }); %>
    </div>
  </body>

</html>
